html{
    width: 100vw;
    height: 100vh;
    position: relative;
}

/*nav{
    display: block;
    width: 100%;
}*/
body{
    width: 100vw;
    overflow-x: hidden;
    position: relative;        
    font-size: 10px;
    margin : 0;
    padding: 0;
    background-color: azure;    
    border-color: green;
    
}
header{
    width: 98vw;
}
main{
    width: 94vw;
    padding-inline: 1em;
}
h1,h3{
    margin : 4px;
    padding: 4px;
    width: 88vw;
}
.presentation{
    width: 92vw;
    margin-bottom: 10%;
    margin-top: 0;    
    padding: 0.5%;
    background-color: beige;
    font-size: 2em;
    border-radius: 25px;
}
h2, .presentation, p, h4{
    margin:2%;
}
main{
    width: 100vw;
}
.HomeMug{
    position: relative;
    width: 88vw;
    margin: 4px;
}
.iframe{
    width: 94vw;
}
iframe{
    padding-inline: 1em;
    width: 100%;
    margin-inline: auto;
}
footer {


    background-color: #005cbf;
    color: white;
    margin-top: auto;
    padding: 10px;
    
}

/*events.html */
.Event{
    width: 90vw;
    height: 100wh;
}

/*responsive => 500px width*/
@media only screen and (min-width: 500px){
    body{
        font-size:14px;
    }
    .presentation{
        font-size: 1.5em;
    }
    h4,iframe{
        
        padding: 0;
    }
}
/*responsive => 500px width*/
@media only screen and (min-width: 992px) {
    body{
        font-size: 20px;
    }
    article{
        display:flex;
    }
    img{
        width: 50vw;
        height: 50vh;
    }
    iframe{
        height: 60vh; 
        width:60vw;
        margin:2%;
    }
    .map-box{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    @font-face {
        src: url('fonts/TiltPrism-Regular-VariableFont_XROT\,YROT.ttf');
        font-family:'TiltPrism';
        font-style: normal;
    }
    h4{
        font-family: "TiltPrism";
        color: green;
        border: 5px ridge brown;
        box-shadow: 8px 5px 5px brown;
        font-size:36px;
    }
}